<!doctype html>
<html>
    <head>
        <title style=>{{title}}</title>
        <style>
            title {
                text-align: center;
            }
            label {
                display: block; 
                margin-bottom: 50px;  
            }
            
            .error{
                color: red;   
            }
        </style>
    </head>
    <body>
        <nav>
        <a href='/blog'>Main Blog Page</a>
        <a href='/newpost'>Add a Blog Entry</a>
        </nav>


        {% block content %}
        {% endblock %}

    </body>
</html>